/* Navbar Dropdown-submenu */
.navbar{
    margin-bottom:0 !important;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Interface elements */
html,body {
    height: 100%;
}

.col-xs-4 {
    height: 16%;
    background-color: #9966CC;
    color: white;
    border-radius: 20px;
    font-size: 4vh;
    border: 2px solid white;
}

.col-xs-8 {
    height: 16%;
    color:white;
    background-color: #B0B0B0;
    border-radius: 20px;
    border: 2px solid white;
}

.col-xs-12 {
    height: 16%;
    font-size:5vmin;
    text-align: center;
    color: white;
    background-color: #B0B0B0;
    border-radius: 20px;
    border: 2px solid white;
}

.col-xs-6 {
    height:16%;
    background-color: #B0B0B0;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-size:4vmin;
    border: 2px solid white;
}

p {
    font-size:2.5vmin;
    text-align:left;
}
input[type=range] {
    height: 100%;
}