<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
	<name replace-wildcards="yes">WeIO</name>
	<service>
		<type>_smb._tcp</type>
		<port>139</port>
		<port>445</port>
	</service>
</service-group>
